<div style="padding-left: 25px">
    <MudText Typo="Typo.subtitle1">@FeedItem.by • @FeedItem.time.ToLocalDateTime()</MudText>
    <p>@FeedItem.RenderText</p>
    
    <MudDivider Class="my-4" />

    @foreach (var comment in Subcomments)
    {
        <Comment FeedItem="@comment"/>
    }
</div>


@code {

    [Parameter, EditorRequired] public FeedItem FeedItem { get; set; }

    [Inject] public HackerNewsApiService ApiService { get; set; } = null!;

    public IEnumerable<FeedItem> Subcomments { get; set; } = new List<FeedItem>();

    protected override async Task OnParametersSetAsync()
    {
        if (FeedItem.kids != null && FeedItem.kids.Any())
        {
            Subcomments = await ApiService.GetFeedItemDetails(FeedItem.kids);
        }
    }

}