@page "/"
@page "/page/{Page:int}"

<h1>Hello, world!</h1>

@foreach (var topStory in TopStories)
{
    <h4>@topStory.title</h4>
}

@code
{
    [Inject] public HackerNewsApiService ApiService { get; set; } = null!;

    [Parameter] public int? Page { get; set; }
    public IEnumerable<int> TopStoryIds { get; set; } = new List<int>();
    public IEnumerable<FeedItem> TopStories { get; set; } = new List<FeedItem>();

    protected override async Task OnInitializedAsync()
    {
        Page ??= 1;

        TopStoryIds = await ApiService.GetTopStoryIds(Page.Value);
        TopStories = await ApiService.GetFeedItemDetails(TopStoryIds);
    }
}
